<!-- Artificial Renaissance itself 2019-2020. All rights reserved. -->

<h1>
    Создать заметку
</h1>


<div>
    <oj-label for="name">Название:</oj-label>
    <oj-input-text id="name" value='fio'></oj-input-text>
</div>
<div>
    <oj-label for="explain">Пояснение:</oj-label>
    <oj-input-text id="explain" value='fio'></oj-input-text>
</div>
<div>
    <oj-label for="text">Текст</oj-label Текст>
    <oj-text-area id="text" value="" label-hint="enabled" rows="3"></oj-text-area>
</div>
<div>
    <oj-button chroming="solid">
        <span>Сохранить</span>
    </oj-button>


    <oj-button chroming="borderless">
        <span>Закрыть</span>
    </oj-button>
</div>