<!-- Artificial Renaissance itself 2019-2020. All rights reserved. -->

<h1>
        Профиль пользователя
</h1>
<div>
        <oj-label for="new_phone">Телефон</oj-label>
        <oj-input-text id="new_phone" value='phone'></oj-input-text>
</div>

<div>
        <oj-switch id="is_primary_phone" value="false" label-hint="Рекомендованный телефон"></oj-switch>
        <oj-label for="is_primary_phone">Рекомендованный телефон</oj-label>
</div>
<oj-button>
        <span>Добавить телефон</span>
</oj-button>
<p>
        Невозможно менять информацию в профиле, так как парелем, к примеру шифруются все данные предоставляемые по
        истечению события и до события эти документы мы не можем прочитать. В целях избежания потери документов,
        телефонов и секретной фразы они не меняются. Будте внимательны при задания описания к документам, чтобы легко
        ориентироваться, какие именно документы нужны для события. Вы так же можете удалить аккаунт со всей информацией.
</p>

<oj-button>
        <span>Удалить аккаунт</span>
</oj-button>