<!-- Artificial Renaissance itself 2019-2020. All rights reserved. -->

<h1>
    Получатель
</h1>
<!--
<p> 
    The value from the View Model is: <span data-bind="text: testVal"></span>    
</p>
<p>
    Sesond value from View Model: <span data-bind="text: secondVal"></span>
</p>
-->
<div>
    <oj-label for="fio">ФИО:</oj-label>
    <oj-input-text id="fio" value='fio'></oj-input-text>
</div>
<div>
    <oj-label for="phone">Телефон</oj-label>
    <oj-input-text id="phone" value='phone'></oj-input-text>
</div>
<oj-button chroming="borderless">
    <span>Добавить еще телефон</span>
</oj-button>
<div>
    <oj-label for="email">Почта</oj-label>
    <oj-input-text id="email" value='email'></oj-input-text>
</div>
<oj-button chroming="borderless">
    <span>Добавить еще почту</span>
</oj-button>
<div>
    <oj-button chroming="solid">
        <span>Сохранить</span>
    </oj-button>

    <oj-button chroming="borderless">
        <span>Закрыть</span>
    </oj-button>
</div>